* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    outline: none;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #00d5fc, #046af6);
}

.container {
    position: relative;
    align-items: center;
    padding: 20px 30px;
    width: 400px;
    background: #0b0909;
    border-radius: 4px;
    box-shadow: 0px 0px 15px black;
}

.switch {
    position: absolute;
    right: 30px;
    display: flex;
    border-bottom: 1px solid #feoo66;
}

.login {
    padding: 5px 20px;
    background: linear-gradient(45deg, #00d5fc, #046af6);
    margin-bottom: 10px;
    border-radius: 50px;
    text-align: right;
    margin-left: 4px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease;
}

.signup {
    padding: 5px 20px;
    background: linear-gradient(45deg, #00d5fc, #046af6);
    margin-bottom: 10px;
    border-radius: 50px;
    text-align: right;
    margin-left: 4px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease;
}

.container .outer{
    width: 1005;
    margin-top: 40px;
    text-align: center;
    position: relative;
}

.outer #form{
    width: 200%;
    position: relative;
    display: flex;
    margin: auto;
    transition: 0.2 ease-in-out;
}

#page{
    margin: auto;
    width: 100%;
}

label{
    display: block;
    margin-bottom: 5px;
    padding: 10px 15px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.element{
    position: relative;
}

.element input{
    width: 80%;
    height: 40px;
    border-radius: 4px;
    margin-bottom: 20px;
    background: #2a2a2a;
    border: 1px solid #f5f4f4;
    padding-left: 40px;
    font-size: 20px;
    letter-spacing: 1px;
}

input::placeholder{
    color: #d4cdcd;
    font-size: 20px;
    
}